<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <TelemetryProcessors>
  </TelemetryProcessors>
  <!-- This key is for Application Insights resource 'COMP2007-Lesson8-PR' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>6acbf622-8400-4966-a32c-0bc306e0261e</InstrumentationKey>
</ApplicationInsights>